@import "tailwindcss";
@import "@heroui/styles"; 


.toast--success {
  background-color: black !important;
}

.toast--success .toast__title,
.toast--success .toast__description {
  color: white !important;
}

.toast--danger {
  background-color: black !important;
}

.toast--danger .toast__title,
.toast--danger .toast__description {
  color: white !important;
}

.toast--warning {
  background-color: black !important;
}

.toast--warning .toast__title,
.toast--warning .toast__description {
  color: white !important;
}

.toast--info {
  background-color: black !important;
}

.toast--info .toast__title,
.toast--info .toast__description {
  color: white !important;
}
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
